[client]
character-set-server = utf8
port = 3306
socket = /tmp/mysqld.sock

[mysqld]
skip-networking
skip-name-resolve

character-set-server = utf8
port = 3306
socket = /tmp/mysqld.sock
basedir = ${mysql_install}
datadir = ${mysql_data}
pid-file = ${mysql_pid}
log-error = ${mysql_error_log}
end of file

[test]
mysql_port=\3306
mysql_port=$\{mysql_port}
mysql_port=${mysql_port
mysql_port=$mysql_port}
