#!/bin/bash
source ${0%/*}/config.sh

echo ========================================
echo 1.安装Nginx所需的pcre库：
cd ${dbuild}/${pcre_pkg}
./configure # --build=i686-linux-gnu
make && make install


echo 2.安装Nginx
cd ${dbuild}/${nginx_pkg}
./configure --user=www --group=www --prefix=${nginx_install} --with-http_stub_status_module --with-http_ssl_module
make && make install


echo 3.创建Nginx日志目录
mkdir -p /data1/logs
chmod +w /data1/logs
chown -R www:www /data1/logs


echo 4.创建Nginx配置文件
echo 在${nginx_install}/conf/目录中创建nginx.conf文件：
# TODO fixbug: server_name  ${main_domain}; 
sed "/^pid\b/s#.*#pid	${nginx_install}/nginx.pid;#w ${dlog}/nginx.conf.diff" ${detc}/nginx.conf > ${nginx_install}/conf/nginx.conf


echo 在${nginx_install}/conf/目录中创建fcgi.conf文件：
cp ${detc}/fcgi.conf ${nginx_install}/conf/fcgi.conf


echo 启动Nginx
ulimit -SHn 65535
${nginx_install}/sbin/nginx
